body {
    background: url('img/walpapper1.jpg');
    color: floralwhite;
}

.box {
    background: darkorange;
    height: 100px;
    width: 100px;
    padding: 50px;
    font-size: 20px;
}

.kotak {
    padding: 50px;
    width: 2100px;
    background-color: rgb(30, 255, 199);
    font-size: 20px;
}

#kotak {
    padding: 10px;
    width: 2100px;
    background-color: rgb(144, 248, 26);
    height: 50px;
    font-size: 20px;
    color: black;
}

